
body{
    background:url("images/cinema.jpg") top center no-repeat;
    background-size:cover;
    color: powderblue;
    text-align:center;
}

hr{
    width:40%;
}

a{
    display: inline-block;
    margin:1%;
    font-size:200%;
    text-decoration:none;
    color:darkturquoise;
}

a[href='buywelcome.php']{
    margin-right:55%;
}

a:hover{
    background-color:coral;
    color:white;
}

h1{
    font-size:500%;
}

h3{
    font-size:300%;
    color:darksalmon;
}

div{
    font-size:200%;
    color:darkseagreen;
    font-weight:900;
}

@media screen and (min-width: 1800px) {

    a[href='buywelcome.php']{
        margin-right:55%;
    }

}

@media screen and (max-width: 1799px) {
    a[href='buywelcome.php']{
        margin-right:40%;
    }
}


@media screen and (max-width: 1299px) {
    a[href='buywelcome.php']{
        margin-right:23%;
    }
}
